*{
    padding: 0;
    margin: 0;
}

/* corressponde a todo corpo da pagina */
body{
    background-color: #484848;
    color: #082840;
    font-family: sans-serif;
}

/* MENU DE NAVEGAÇÃO SUPERIOR */
nav{
    /* border: 1px red solid; */
    background-color: #082840;
    border-bottom: 10px solid #e0af73;
    color: #e0af73;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    
    /* estrutura de listas dentro da nav */
    & ul{
        /* border: 1px red solid; */
        display: flex;
        flex-direction: row;
        list-style: none;
        & li{
            padding: 10px;
            color: #e0af73;
        }
    }
    /* imagens dentro da nav */
    & img{
        /* border: 1px red solid; */
        height: 70px;
    }

    /* links dentro da nav */
    & a{
        text-decoration: none;
        color: #e0af73;
    }

    /* icones das redes sociais dentro da nav */
    .redes_sociais{
        /* border: 1px red solid; */
        & img{
            height: 50px;
        }
    }
}


.processos{

    background-color:white;
    display: flex;
    margin: 0;
}

.iconeserviços{

    display: flex;
    height: 100px;
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 170px;
    justify-content: center;    
    align-items: center;
    font-size: 60px;
}

.textoserviços{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 800px;
    margin-left: 20px;
    
    & h1 {
        color: #e0af73;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: 400;
    }

    & h2 {
        font-family: "Open Sans", Sans-serif;
        font-size: 22px;
        font-weight: 400;
        margin-top: 40px;
    }

    & p {
        color: #484848;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.025rem;
        margin-top: 20px;
        text-align: justify;
        margin-right: 400px;
        margin-top: 20px;
        line-height: 25px;
    }
}

.consultoria{

    background-color:#F7F7F7;
    display: flex;
    margin: 0;
}

.iconeconsultoria{

    display: flex;
    height: 100px;
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 90px;
    justify-content: center;    
    align-items: center;
    font-size: 75px;   
}

.textoconsultoria{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 800px;
    margin-left: 20px;

    & h2 {
        font-family: "Open Sans", Sans-serif;
        font-size: 22px;
        font-weight: 400;
        margin-top: 40px;
    }

    & p {
        color: #484848;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.025rem;
        margin-top: 20px;
        text-align: justify;
        margin-right: 400px;
        margin-top: 20px;
        line-height: 25px;
    }
}


.representação{

    background-color:white;
    display: flex;
    margin: 0;
}

.iconerepresentação{

    display: flex;
    height: 100px;
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 90px;
    justify-content: center;    
    align-items: center;
    font-size: 80px;   
}

.textorepresentação{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 800px;
    margin-left: 20px;

    & h2 {
        font-family: "Open Sans", Sans-serif;
        font-size: 22px;
        font-weight: 400;
        margin-top: 40px;
    }

    & p {
        color: #484848;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.025rem;
        margin-top: 20px;
        text-align: justify;
        margin-right: 400px;
        margin-top: 20px;
        line-height: 25px;
    }
}


.experiência{

    background-color: #F7F7F7;
    display: flex;
    margin: 0;
}

.iconeexperiência{

    display: flex;
    height: 100px;
    margin-left: 70px;
    margin-right: 20px;
    margin-top: 80px;
    justify-content: center;    
    align-items: center;
    font-size: 70px;    
}

.textoexperiência{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 800px;
    margin-left: 20px;

    & h2 {
        font-family: "Open Sans", Sans-serif;
        font-size: 22px;
        font-weight: 400;
        margin-top: 40px;
    }

    & p {
        color: #484848;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.025rem;
        margin-top: 20px;
        text-align: justify;
        margin-right: 400px;
        margin-top: 20px;
        line-height: 25px;
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #082840;
    color: #e0af73;
    text-align: center;
    border-top: 5px solid #e0af73;

    & .termos{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #745a3b;
        & p{
            padding: 5px;
            font-size: 15px;
        }
    }

    & .empresa{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #745a3b;

        & img{
            padding: 20px;
        }  

        & ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        & img{
            height: 30px;
        }
    }
    & div{
        width: 60vh;
        height: 40vh;
        /* border: 1px solid red; */
    }
}